.container {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.row {
  margin-top: 100px;
}

h2 {
  font-size: 200%;
}

img {
  height: 200px;
}

@media screen and (max-width:992px) {
  img {
    height: 100px;
  }
}

#why [class*="col-"] {
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}
